@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Se sobrescribe el color del dia actual en el calendario */
.fc .fc-daygrid-day.fc-day-today {
  background: #E5EDFF !important;
} 

/* Se sobrescribe el color de los botones del calendario */
.fc-button-primary {
  background: #362F78 !important;
}
